// Archivo: scss/components/_language-styles.scss
.hanzi {
  color: #d63384;
}

.hangul {
  color: #0d6efd;
}

.japanese {
  color: #20c997;
}

.idioma-chino {
  font-weight: bold;
  color: #c82333;
}

.idioma-coreano {
  font-weight: bold;
  color: #007bff;
}

.idioma-japones {
  font-weight: bold;
  color: #28a745;
}